# Ejemplo .gitignore  by @osckaralicante y referido de https://community.home-assistant.io/t/sharing-your-configuration-on-github/195144
# Si pones el * los los archivos con esa extension entran en la lista blanca.

# Puedes poner archivos y carpetas, esta es la lista blanca. es decir lo que no sera ignorado
!*.yaml
!.gitignore
!*.md
!*automation
!*binary_sensors
!*input_bolean
!*input_selec
!*sensors
!*shellscripts
!*switches
!*themes

# Archivos y carpetas ignoradas
.storage
.cloud
.google.token
.vscode
*.jpg

# Estos son los archivos que no estaran publicos en github
## ip_bans.yaml  # ejemplo
secrets.yaml
known_devices.yaml
home-assistant.log
home-assistant_v2.db

